@import url(https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap);
body
{
	background-color: #222090;

}
#tu   #yo
{
	font-weight: 30px;
	font-size: 30px;
	font-family: 'Sansita Swashed', cursive;
}